:root {
  --grey: #f8f8f5;
  --black: #282727;
  --yellow: #f7ab04;
  --green: #427662;
  --font-Hind: "Hind", sans-serif;
  --font-Montserrat: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--grey);
  background-attachment: fixed;
  color: var(--black);
  font-family: var(--font-Montserrat);
}

/* .caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
} */
/* main {
  margin-left: 10px;
} */

/*****************HEADER***********************/
.header {
  padding-bottom: 0rem;
  padding-top: 0;
  width: 100%;
  position: fixed;
  z-index: 4;
  background-color: var(--grey);
}
.header_claro {
  display: none;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  margin: 0.5rem 0rem 0.5rem 0;
  background-color: var(--grey);
  padding-top: 0;
  width: 100%;
  position: fixed;
  z-index: 4;
}
.header_claro img {
  height: 20px;
  padding-right: 0.5%;
}
.header_claro a {
  text-decoration: none;
  color: var(--black);
  padding-right: 2%;
}
.header_claro p {
  margin: 0;
  padding: 0;
  padding-right: 2%;
}

.header_oscuro {
  background-color: var(--black);
  font-family: var(--font-Hind);
  /* font-weight: medium; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 2rem;
  padding-right: 2rem;
}
.header_oscuro a {
  text-decoration: none;
  color: white;
}
#bold {
  font-weight: bold;
  color: var(--yellow);
  margin-right: 9rem;
}
.logo_cabecera {
  height: 60px;
}

.bars__menu {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 1rem;
}
.bars__menu span {
  display: block;
  width: 100%;
  height: 2px;
  background: #f7ab04;
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 600ms;
}
/* el translate va a variar según la ubicación del menu */
.closeline1 {
  transform: rotate(50deg) translate(0px, -7px);
}
.closeline2 {
  opacity: 0;
  margin-left: -30px;
}
.closeline3 {
  transform: rotate(-45deg) translate(3px, 6px);
}

.navigation ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li {
  display: inline-block;
}
.navigation ul li a {
  display: block;
  padding: 0.5rem;
  transition: all 0.4s linear;
}
#bold {
  margin-right: 0;
}
.navigation {
  width: 100%;
}

.navigation ul.show {
  display: inline;
}
.navigation ul li {
  display: block;
  text-align: center;
  margin: 0 -2rem 0 -2rem;
}


/**********Acá termina el header***********/
/*****************MAIN***********************/
/**********PARTE 1**************/
.desktop{
  display: none;
}
.parte01 {
  padding-top: 9.5rem;
  margin-bottom: 30px;
  height: 750px;
  width: 100%;
}
.titulo {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: clamp(2rem, 5vw, 3.75rem);
  margin-top: 30px;
  line-height: 96%;
}
.mas {
  text-transform: capitalize;
  font-family: "Moon Dance", cursive;
  font-weight: 400;
  color: var(--yellow);
  font-size: 83px;
  line-height: 43%;
}
.marco {
  margin-top: 30px;
  width: 18rem;
  height: 16rem;
  border: solid thin var(--yellow);
  position: relative;
  z-index: 1;
  text-align: left;
  left: -20%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  /* border-radius: 5px; */
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2.5px);
}
.fraseDesk,
.img_Desk {
  display: none;
}

.tira_imagenes {
  width: 175px;
}

.frase {
  color: var(--black);
  text-align: center;
  font-size: 20px;
  margin: 17px 0 25px 0;
  line-height: 140%;
  padding-left: 3rem;
  padding-right: 6rem;
  position: relative;
  z-index: 2;
}
.puntosMobile {
  height: 100px;
  position: relative;
  left: 40%;
  top: -4.5rem;
  z-index: 1;
}
.contenedor_hacemos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.txt_somos {
  font-family: var(--font-Hind);
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 0.1rem;
  margin-bottom: -5px;
  position: relative;
  left: -20%;
}
.logotipo {
  width: 70%;
  margin-top: -4%;
}
.text_hacemos {
  text-align: center;
  font-size: 20px;
}
.btn_escribinos,
.btn_escribinos2 {
  background-color: var(--black);  
  box-shadow: inset 0 10px 15px rgba(255, 255, 255, 0.35),
    inset 0 -10px 15px rgba(0, 0, 0, 0.05),
    inset 10px 0 15px rgba(0, 0, 0, 0.05),
    inset -10px 0 15px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  color: var(--grey);
  border-radius: 25px;
  margin-top: 1rem;
  height: 50px;
  width: 200px;
}
.sobre_papel_amarillo,
.sobre_papel_negro {
  height: 25px;
  margin: 5px;
}
.sobre_papel_negro {
  display: none;
}
.btn_escribinos:hover {
  background-color: var(--yellow);
  color: var(--black);
}
.btn_escribinos2:hover {
  background-color: var(--green);
  color: var(--grey);
  border: none;
}
.btn_escribinos:hover .sobre_papel_negro {
  display: inline-block;
}
.btn_escribinos:hover .sobre_papel_amarillo {
  display: none;
}
.btn_escribinosDesk {
  display: none;
}

/**********PARTE 2**************/
.parte02,
.parte03,
.parte04,
.parte05,
.container_img07,
.pasos,
.contacto_container,
.contacto_msj {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  align-items: center;
}
.contacto_container{
  color: var(--green);
}
.parte02 {
  padding-top: 65px;
}
hr {
  width: 30%;
  background-color: var(--yellow);
  margin: auto;
}
hr:not([size]) {
  height: 0.5px;
  border-top: none;
  opacity: 1;
}
.txt {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 180%;
}
.container_visibilidad,
.container_credibilidad,
.container_comunicacion {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.txt_vertical {
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin: 0;
  font-size: 0.82rem;
}
.foto03 {
  height: 170px;
  position: relative;
  z-index: 3;
}
.puntosMobile02 {
  top: -190px;
  left: 215px;
}
/**********PARTE 3**************/
.parte03 {
  margin-top: -70px;
}
.container_credibilidad {
  margin-top: 10px;
}
.foto05 {
  position: relative;
  height: 330px;
  margin-left: 3.75rem;
  z-index: 3;
}
.txt_vertical02,
.txt_vertical03 {
  text-align: start;
  padding-top: 1.2rem;
}
.puntosMobile03 {
  left: 19%;
  top: -5.3rem;
}

/**********PARTE 4**************/
.parte04 {
  margin-top: -50px;
}
.foto06 {
  position: relative;
  height: 265px;
  top: -13px;
  z-index: 3;
}
.puntosMobile04 {
  left: 56%;
  top: -6.5rem;
}
/**********PARTE 5**************/
.parte05 {
  margin-top: -75px;
  text-align: center;
}

.circulo {
  width: 26rem;
  height: 26rem;
  border-radius: 50%;
  background: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: inset 0 10px 15px rgba(255, 255, 255, 0.35),
    inset 0 -10px 15px rgba(0, 0, 0, 0.05),
    inset 10px 0 15px rgba(0, 0, 0, 0.05),
    inset -10px 0 15px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 65px;
  left: 5px;
}
.titulo_diseniamos {
  position: relative;
  font-size: 35px;
  top: -98px;
  line-height: 120%;
}

.circulo > h2 {
  font-family: var(--font-Montserrat);
  font-weight: 400;
  color: var(--black);
  font-size: 1.1rem;
  margin-top: -88px;
  line-height: 170%;
}
.btn_escribinos2 {
  position: relative;
  margin-top: -6%;
}
.img07 {
  margin: -45px 0 30px 88px;
}
/**********SERVICIOS**************/

.linea_corta {
  width: 15%;
  margin: 24px 8px 40px 0;
}
.servicios,
.metodologia,
.contacto {
  display: flex;
  font-family: var(--font-Hind);
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  margin-top: -65px;
}
.metodologia {
  margin-top: -30px;
}
.linea_larga {
  width: 80%;
  margin: 24px 0 40px 8px;
}
.containerCards {
  padding: 10px 0 10px 0;
  background-repeat: no-repeat;
  width: auto;
}
.cards_container {
  width: 100%;
  margin-top: -90px;
}

.card {
  border-radius: 30px;
  box-shadow: inset 0 10px 15px rgba(255, 255, 255, 0.35),
    inset 0 -10px 15px rgba(0, 0, 0, 0.05),
    inset 10px 0 15px rgba(0, 0, 0, 0.05),
    inset -10px 0 15px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: var(--black);
  color: var(--grey);
  font-family: var(--font-Montserrat);
  text-align: center;
  margin-left: 50px;
  margin-right: 40px;
  z-index: 3;
  transition: all 0.5s ease-out;
}
.card_imgH {
  display: none;
}
.card:hover {
  background-color: var(--yellow);
  color: var(--black);
}
.card:hover .card_img {
  display: none;
}
.card:hover .card_imgH {
  display: block;
}
.card_img,
.card_imgH {
  margin: 30px 0 0 30px;
  width: 65px;
}
.card-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  margin-top: 0.6rem;
}
.card-text {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.card-body {
  padding: 25px 25px 40px 25px;
  margin-top: -15px;
}
.puntos_servicios {
  text-align: right;
  height: 0;
}
.puntos01 {
  position: relative;
  top: -1900px;
  z-index: 1;
  left: -50px;
}
.puntos02 {
  position: relative;
  top: -1180px;
  z-index: 1;
  left: 0px;
}
.puntos03 {
  position: relative;
  top: -728px;
  z-index: 1;
  left: -250px;
}
/**********METODOLOGIAS**************/
.linea_larga02 {
  width: 80%;
  margin: 24px 8px 40px 0px;
}
.linea_corta02 {
  width: 15%;
  margin: 24px 0 40px 8px;
}
.pasos {
  position: relative;
  top: -13px;
}
.circulo_numeros {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  color: var(--black);
  transition: all 1s ease-out;
}
.circulo_numeros:hover {
  color: var(--grey);
  background-color: var(--green);
  box-shadow: inset 0 10px 15px rgba(255, 255, 255, 0.35),
    inset 0 -10px 15px rgba(0, 0, 0, 0.05),
    inset 10px 0 15px rgba(0, 0, 0, 0.05),
    inset -10px 0 15px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
}
.numeros {
  position: relative;
  top: 7px;
}
.txt_pasos {
  margin-top: 0;
  margin-bottom: 40px;
}
/**********CONTACTO**************/
.contacto {
  margin-top: -1%;
}
.container_form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

form {
  padding: 40px 55px;
  box-shadow: -7px 7px 1.5px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  border: solid thin rgb(74, 74, 74);
  text-align: center;
  width: 340px;
  height: 535px;
  background: rgb(42, 41, 38);
  background: linear-gradient(
    29deg,
    rgba(42, 41, 38, 0.67) 0%,
    rgba(42, 41, 38, 0.27) 100%
  );
}
.container_redes {
  display: flex;
  justify-content: space-around;
}
.icon {
  height: 20px;
}
.circulo_redes {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: solid 1px var(--yellow);
  overflow: hidden;
  background: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: -10px 4px 1px rgba(0, 0, 0, 0.25);
}
.input_group {
  display: flex;
  flex-direction: column;
  text-align: left;
}
input,
textarea {
  background: transparent;
  border-radius: 7px;
  border-width: thin;
  border-color: var(--black);
  box-shadow: -0.5px 0.6px 2px #d3d3d3;
}
label {
  margin-top: 10px;
}
.btn_submit {
  text-align: center;
  background-color: var(--yellow);
  border: none;
  width: 140px;
  border-radius: 20px;
  box-shadow: inset 0 10px 15px rgba(255, 255, 255, 0.35),
    inset 0 -10px 15px rgba(0, 0, 0, 0.05),
    inset 10px 0 15px rgba(0, 0, 0, 0.05),
    inset -10px 0 15px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  margin-top: 7%;
}
.contacto_msj {
  margin-top: 60px;
}
.rectangulo {
  background-color: var(--yellow);
  width: 350px;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: inset 0 10px 15px rgba(255, 255, 255, 0.35),
    inset 0 -10px 15px rgba(0, 0, 0, 0.05),
    inset 10px 0 15px rgba(0, 0, 0, 0.05),
    inset -10px 0 15px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
}
.cartel,
.cartel2 {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}
.cartel {
  padding-top: 15px;
}
.cartel2 {
  padding-bottom: 5px;
}
.cartel img {
  height: 20px;
  padding-right: 0.5%;
}
.cartel2 img {
  height: 20px;
  padding-right: 0.5%;
}

/**********Acá termina el Main***********/
/**********FOOTER***********/

footer {
  background-color: var(--black);
  color: var(--grey);
  font-size: 14px;
  padding: 1rem 0;
  display: flex;
  bottom: 0;
  width: 100%;
  z-index: 4;
  align-items: center;
  justify-content: center;
}
footer img {
  height: 20px;
}
footer > p {
  margin: 0;
}
@media only screen and (min-width: 621px) {
  .puntosMobile02 {
    left: 60%;
  }
  .puntosMobile03 {
    left: 35%;
  }
}
/*******tablet*******/
@media only screen and (min-width: 768px) {
  .header_claro {
    display: flex;
  }
  .header_oscuro {
    margin-top: 2.2rem;
  }

  .bars__menu {
    display: none;
  }
  .navigation {
    width: 33%;
    margin-right: 20px;
  }
  .navigation ul {
    display: flex;
    justify-content: space-around;
  }  
  .navigation ul.show {
    display: flex;
  }
  .navigation ul li a:hover {
  font-size: 1.1rem;
  }
  .parte01 {
    padding-top: 7.5rem;
  }
  .puntosMobile {
    left: 45%;
  }
  .txt {
    margin-top: 27px;
  }
  .puntosMobile02 {
    left: 53%;
  }
  .puntosMobile03 {
    left: 35%;
  }
  .puntosMobile04 {
    left: 55%;
  }
  .logotipo {
    width: 50%;
  }
  .card01,
  .card02 {
    height: 400px;
  }
  .card03,
  .card04 {
    height: 450px;
  }
  .card05,
  .card06 {
    height: 485px;
  }
  .card {
    margin-left: 10px;
    margin-right: 10px;
  }
  .img07 {
    margin-left: 240px;
  }
  .parte01 {
    padding-top: 11.5rem;
  }
  .marco {
    left: 43%;
  }
  .txt_somos {
    margin-bottom: 10px;
  }
  .parte02 {
    padding-top: 125px;
  }
}

@media only screen and (min-width: 992px) {
  .navigation {
    width: 25%;
  }
  .header_oscuro{
    height: 70px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .marco,
  .tira_imagenes {
    display: none;
  }
  .fraseDesk,
  .btn_escribinosDesk,
  .img_Desk {
    display: block;
  }
  .fraseDesk {
    font-family: var(--font-Hind);
    text-align: center;
    font-size: 1.5rem;
    margin: 30px 40px 10px 40px;
    line-height: 140%;
  }
  .contenedorDesk {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img_Desk01 {
    width: 100%;
    padding: 15px;
  }
  .img_Desk03 {
    width: 100%;
    padding: 70px 15px 15px 0;
  }
  .display{
    display: none;
  }
  .card {
    width: 300px;
  }
  .card01,
  .card02,
  .card03 {
    height: 470px;
  }
  .card04,
  .card05,
  .card06 {
    height: 500px;
  }
}

/*******desktop*******/
@media only screen and (min-width: 1024px) {
  .navigation {
    width: 25%;
  }
  .header_oscuro{
    height: 80px;
  }
  .logo_cabecera{
    height: 70px;
  }
  nav ul li a{
    font-size: 1.1rem;
  }

  .parte01, 
  .parte02,
  .parte03,
  .parte04, 
  .parte05,
  .container_img07{
    display: none;
  }
  .desktop{
    display: block;
    margin-top: 80px;
  }
  .mas{
    line-height: 56px;
  }
  /* .row {
    width: 110%;
  } */
  .fondo_primera_parte {
    width: 100%;
  }
  .col01 {
    padding: 0;
  }
  
  figure {
    margin: 0;
  }


.txt {
  font-family: var(--font-Hind);
  font-size: clamp(1rem, 5vw, 1.5rem);
  margin: 20px 0 20px 0;
  line-height: 140%;
}
.img01 {
  position: relative;
  z-index: 3;
}
.img02 {
  position: relative;
  z-index: 3;
}
.puntos01Desk {
  margin: -130px 0 0 260px; 
}
.img03 {
  position: relative;
  margin-top: 17%;
  z-index: 3;
}
.puntos02Desk {
  position: absolute;
  margin: 0 0 0 -320px;
}

.parte02Desk p,
.parte03Desk p,
.parte04Desk p {
  font-size: 1.1rem;
  line-height: 160%;
  margin: 30px 0 30px 0;
}
.vision_global,
.credibilidad {
  display: flex;
}
.credibilidad{
  margin-top: 30px;
}

.txt_vertical {
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.txt_vertical01 {
  padding-top: 40px;
}
.txt_vertical02 {
  padding-top: 60px;
}


.img05 {
  margin-top: 40px;
  max-width: 100%;
  height: 85%;
  margin-left: 90px;
}
.img04{
  margin-top: 114px;
  max-width: 100%;
  height: 85%;
}


.texto01{
  text-align: center;
  padding: 80px 50px 0 100px;
  justify-content: center;
}
.texto03 {
  text-align: center;
  padding: 30px 50px 0 100px;
  justify-content: center;
}
hr {
  width: 50%;
  background-color: var(--yellow);
  margin: auto;
}
hr:not([size]) {
  height: 1px;
}

.flecha_verde_desk {
  position: relative;
  height: 20%;
  width: 25%;
  left: 39%;
  top: -145px;
}
.parte03Desk{
  margin-top: -250px;
}

.texto02 {
  padding: 100px 20px 0 50px;
  text-align: center;
}
.img06 {
  position: absolute;
  z-index: 3;
  width: 400px;
}
.puntos03Desk{
  height: 220px;
  width: auto;
  position: relative;
  left: 28%;
  top: -41px;
}
.txt_vertical03Desk{
  position: relative;
  margin-top: 274px;
}


.parte05Desk {
  margin-top: 75px;
  height: 650px;
}

.txt_somos {
  font-family: var(--font-Hind);
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 0.5rem;
  padding-bottom: 40px;
}

.logotipo {
  width: 400px;
  height: 100px;
}
.start-50 {
  left: 30% !important;
}
.flecha03 {
  position: relative;
  top: -68%;
  left: 52%;
  z-index: 3;  
  width: 61%;
}

.titulo_diseniamos {
  font-family: var(--font-Hind);
  font-weight: 400;
  font-size: 42px;
  position: relative;
  z-index: 3;
  margin-top: 48px;
  margin-bottom: 30px;
  /* top: -12%; */
}
.containerCirculo{
  margin-top: 50px;
}
.circulo {
  width: 26rem;
  height: 26rem;
  border-radius: 50%;
  background: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  padding: 3%;
  box-shadow: -9px 9px 14px rgba(16, 16, 20, 0.35);
  position: relative;
  top: -165px;
}

.circulo > h2 {
  font-family: var(--font-Montserrat);
  font-weight: 400;
  color: var(--black);
  font-size: 1.2rem;
  margin-top: -120px;
}
.btn2 {
  position: relative;
}
.aMedida {
  font-family: var(--font-Hind);
  font-size: clamp(3rem, 5vw, 2rem);
  /* font-size: 84px; */
  font-weight: 600;
  line-height: 100%;
  margin-top: -82px;
  margin-bottom: -3rem;
}
.servicios{
  margin-bottom: 10px;
}
.servicios, .metodologia, .contacto{
  font-size: 24px;
}
.contacto_container{
  font-size: 1.2rem;
  
}
.container_form{
  flex-direction: row;
  margin-right: 15%;
  margin-left: 20%;
  margin-bottom: 30px;
}
.contacto_msj{
  margin: 0;
}
}
@media only screen and (min-width: 1280px){
  .container{
    max-width: 1100px;
  }
  .header_oscuro{
    padding-left: 10%;
    padding-right: 10%;
  }
  .container_form{
    width: 937px;    
  }
}
@media only screen and (min-width: 1440px){
  .header_claro{
    right: 10%;
  }
  .header_oscuro{
    padding-left: 20%;
    padding-right: 20%;
  }
  .container_form{
    margin-left: 22%;
  }
  .flecha_verde_desk{
    width: 20%;
  }
  .texto01{
    padding: 130px 100px 0 100px;
  }
  .texto03{
    padding-right:100px;
  }
}
@media only screen and (min-width: 1600px){
  .header_claro{
    right: 17%;
  }
  .flecha_verde_desk{
    width: 15%;
    left: 45%;
    top: -100px;
  }
  main{
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media only screen and (min-width: 1920px){
  .header_claro{
    right: 22%;
  }
  .container_form{
    margin-left: 28%;
  }
}
@media only screen and (min-width: 1970px){
  .header_oscuro{
    padding-left: 25%;
    padding-right: 25%;
  }
}
@media only screen and (min-width: 2568px){
  .container_form{
    margin-left: 33%;
  }
  .flecha_verde_desk{
    width: 10%;
  }
  .header_oscuro{
    padding-left: 30%;
    padding-right: 30%;
  }
}
