:root {
  --grey: #f8f8f5;
  --black: #282727;
  --yellow: #f7ab04;
  --green: #427662;
  --font-Hind: "Hind", sans-serif;
  --font-Montserrat: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--grey);
  color: var(--black);
  font-family: var(--font-Montserrat);
}

/* .container {
  margin: 0;
  padding: 0;
} */
/*****************HEADER***********************/
.header {
  padding-bottom: 0rem;
  padding-top: 0;
  width: 100%;
  position: fixed;
  z-index: 4;
  background-color: var(--grey);
}
.header_claro {
  display: none;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  margin: 0.5rem 9rem 0.5rem 0;
  background-color: var(--grey);
}
.header_claro img {
  height: 20px;
  padding-right: 0.5%;
}
.header_claro a {
  text-decoration: none;
  color: var(--black);
  padding-right: 2%;
}
.header_claro p {
  margin: 0;
  padding: 0;
  padding-right: 2%;
}

.header_oscuro {
  background-color: var(--black);
  font-family: var(--font-Hind);
  font-weight: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 2rem;
  padding-right: 2rem;
}
.header_oscuro a {
  text-decoration: none;
  color: white;
}
#bold {
  font-weight: bold;
  color: var(--yellow);
  margin-right: 9rem;
}
.logo_cabecera {
  width: 83px;
  height: 85px;
}

.bars__menu {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 1rem;
}
.bars__menu span {
  display: block;
  width: 100%;
  height: 2px;
  background: #f7ab04;
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 600ms;
}
/* el translate va a variar según la ubicación del menu */
.closeline1 {
  transform: rotate(50deg) translate(0px, -7px);
}
.closeline2 {
  opacity: 0;
  margin-left: -30px;
}
.closeline3 {
  transform: rotate(-45deg) translate(3px, 6px);
}

.navigation ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li {
  display: inline-block;
}
.navigation ul li a {
  display: block;
  padding: 0.5rem;
  transition: all 0.4s linear;
}
.navigation ul li a:hover {
  background: rgb(130, 130, 130);
}

#bold {
  margin-right: 0;
}
.navigation {
  width: 100%;
}

.navigation ul.show {
  display: block;
}
.navigation ul li {
  display: block;
  text-align: center;
  margin: 0 -2rem 0 -2rem;
}

.navigation ul li a:hover {
  background: var(--green);
}
/**********Acá termina el header***********/
/*****************MAIN***********************/
/**********PARTE 1**************/
.parte01 {
  padding-top: 6.5rem;
  height: 750px;
  width: 100%;
}
.titulo {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  /* text-shadow: -4px 2px 2px rgba(0, 0, 0, 0.25); */
  font-size: clamp(2.25rem, 5vw, 3.75rem);
  margin: 0;
  line-height: 110%;
}
.frase {
  text-align: center;
  font-family: var(--font-Hind);
  font-size: clamp(1rem, 5vw, 1.5rem);
  margin: 20px 0 20px 0;
  line-height: 140%;
  padding-left: 3.75rem;
  padding-right: 3.125rem;
}
.container_fotos_principales {
  display: flex;
  justify-content: center;
}
.foto {
  height: 150px;
  padding: 10px;
  z-index: 3;
}
/* .foto02 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    
  }

  to {
    margin-left: 0%;
    
  }
} */
.puntosMobile {
  height: 100px;
  position: relative;
  left: 40%;
  top: -4.5rem;
  z-index: 1;
}
.contenedor_hacemos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text_hacemos {
  text-align: center;
  margin-top: -55px;
}
.btn_escribinos,
.btn_escribinos2 {
  background-color: var(--black);
  color: var(--grey);
  border-radius: 25px;
  margin-top: 1rem;
  height: 50px;
  width: 200px;
}
.sobre_papel_amarillo,
.sobre_papel_negro {
  height: 25px;
  margin: 5px;
}
.sobre_papel_negro {
  display: none;
}
.btn_escribinos:hover {
  background-color: var(--yellow);
  color: var(--black);
}
.btn_escribinos2:hover {
  background-color: #74787b;
  color: var(--grey); 
  border: none;
  /* border:  1px solid #575a59; */
}
.btn_escribinos:hover .sobre_papel_negro {
  display: inline-block;
}
.btn_escribinos:hover .sobre_papel_amarillo {
  display: none;
}
/**********PARTE 2**************/
.parte02,
.parte03,
.parte04,
.parte05 {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  align-items: center;
}
hr {
  width: 30%;
  background-color: var(--yellow);
  margin: auto;
  /* padding: 2px; */
}
hr:not([size]) {
  height: 1.2px;
  border-top: none;
  opacity: 1;
}
.txt {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 180%;
}
.container_visibilidad,
.container_credibilidad,
.container_comunicacion {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
}
.txt_vertical {
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin: 0;
  font-size: 0.82rem;
}
.foto03 {
  height: 170px;
  position: relative;
  z-index: 3;
  /* left: -20px; */
}
.puntosMobile02 {
  top: -190px;
  left: 215px;
}
/**********PARTE 3**************/
.parte03 {
  margin-top: -70px;
}
.container_credibilidad {
  margin-top: 10px;
}
.foto05 {
  position: relative;
  height: 330px;
  margin-left: 3.75rem;
  z-index: 3;
}
.txt_vertical02,
.txt_vertical03 {
  text-align: start;
  padding-top: 1.2rem;
}
.puntosMobile03 {
  left: 19%;
  top: -5.3rem;
}

/**********PARTE 4**************/
.parte04 {
  margin-top: -50px;
}
.foto06 {
  position: relative;
  height: 265px;
  top: -13px;
  /* margin-left: 3.75rem; */
  z-index: 3;
}
.puntosMobile04 {
  left: 56%;
  top: -6.5rem;
}
/**********PARTE 5**************/
.parte05 {
  margin-top: -75px;
  text-align: center;
}
.txt_somos {
  font-family: var(--font-Hind);
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 0.1rem;
  margin: 20px 0 0 0;
}
.logotipo {
  width: 75%;
  margin-top: -4%;
}
.circulo {
  width: 26rem;
  height: 26rem;
  border-radius: 50%;
  background: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin: 0px auto; */
  /* padding: 3%; */
  box-shadow: -9px 9px 14px rgba(16, 16, 20, 0.35);
  position: relative;
  margin-top: 50px;
  left: 10px;
}
.titulo_diseniamos {
  position: relative;
  font-size: 35px;
  top: -98px;
  line-height: 120%;
}

.circulo > h2 {
  font-family: var(--font-Montserrat);
  font-weight: 400;
  color: var(--black);
  font-size: 1.1rem;
  margin-top: -88px;
  line-height: 170%;
}
.btn_escribinos2 {
  position: relative;
  margin-top: -6%;
}
.img07{
  margin-top: -45px;
}

/**********Acá termina el Main***********/

/*******tablet*******/
@media only screen and (min-width: 768px) {
  .header_claro {
    display: flex;
  }

  .bars__menu {
    display: none;
  }
  .navigation {
    width: 33%;
  }
  .navigation ul {
    display: flex;
    justify-content: space-around;
  }
  .navigation ul li a {
    border-radius: 10px;
  }
}

/*******desktop*******/
@media only screen and (min-width: 1024px) {
  .navigation {
    width: 25%;
  }
}
